
.DS_Store
.ipynb_checkpoints/strip_chart-checkpoint.ipynb
.~Doc2Vec Topic Visuals__46431.twbr
.~Word Freq over time__47561.twbr
.ipynb_checkpoints/CAC_Report-checkpoint.html
.ipynb_checkpoints/Customer_Report-checkpoint.html
.ipynb_checkpoints/Doc2Vec Model-checkpoint
